
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h5 class=" title">Ajouter une victime</h5></div>
          <div class=" card-body">
            <form #postVictime="ngForm" (ngSubmit)="onSubmit(postVictime.value)">
              <div class=" row">
                <div class=" col-md-4 pr-md-1">
                  <div class=" form-group">
                    <label> Nom </label>
                    <input class=" form-control" placeholder="Nom" name="nom" type="text" ngModel/>
                  </div>
                </div>
                <div class=" col-md-4 px-md-1">
                  <div class=" form-group">
                    <label> Prénom </label>
                    <input class=" form-control" placeholder="Prénom" name="prenom" type="text" ngModel/>
                  </div>
                </div>
                <div class=" col-md-4 ">
                    <div class=" form-group">
                      <label> Affiliation CNSS </label>
                      <input class=" form-control" placeholder="Ex : a153d36gf5" name="cnss" type="text" ngModel/>
                    </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-3 pr-md-1">
                  <div class=" form-group">
                    <label> Sexe </label>
                    <select class="form-control selectpicker btn-primary" name="sexe" ngModel>
                        <option value="-1">sélectionner votre sexe</option>
                        <option value="Mâle">Mâle</option>
                        <option value="Femelle">Femelle</option>
                    </select>
                  </div>
                </div>
                <div class=" col-md-3 pl-md-1">
                  <div class=" form-group">
                    <label> CIN </label>
                    <input class=" form-control" placeholder="Q123456" name="cin" type="text" ngModel/>
                  </div>
                </div>
                <div class=" col-md-3 pl-md-1">
                    <div class=" form-group">
                      <label> Profession </label>
                      <input class=" form-control" type="text" name="profession" ngModel/>
                    </div>
                  </div>
                  <div class=" col-md-3 pl-md-1">
                    <div class=" form-group">
                      <label> Nationalité </label>
                      <input class=" form-control" type="text" name="nationalite" ngModel/>
                    </div>
                  </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Address </label>
                    <input class=" form-control" placeholder="Adresse" type="text" name="adresse" ngModel/>
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-4 pr-md-1">
                  <div class=" form-group">
                    <label> situation familiale </label>
                    <select class="form-control selectpicker btn-primary" name="situationF" ngModel>
                        <option value="-1">sélectionner votre situation</option>
                        <option value="Célibataire">Célibataire</option>
                        <option value="merie">marié/mariée</option>
                        <option value="divorce">divorce</option>
                    </select>
                  </div>
                </div>
                <div class=" col-md-2 px-md-1">
                  <div class=" form-group">
                    <label> nombre d'enfants </label>
                    <input class=" form-control" type="number" min="0" name="nbrEnfant" value="0" ngModel/>
                  </div>
                </div>
                <div class=" col-md-2 pl-md-1">
                  <div class=" form-group">
                    <label> nombre de conjoints </label>
                    <input class=" form-control" type="number" min="0" name="nbrConjoints" value="0" ngModel/>
                  </div>
                </div>
                <div class=" col-md-2 px-md-1">
                    <div class=" form-group">
                      <label> Date de naissance </label>
                      <input class=" form-control" type="date" name="dateN" ngModel/>
                    </div>
                  </div>
                  <div class=" col-md-2 pl-md-1">
                    <div class=" form-group">
                      <label> date de recrutement </label>
                      <input class=" form-control" type="date" name="dateR" ngModel/>
                    </div>
                  </div>
              </div>
              <!-- <div class=" row">
                <div class=" col-md-8">
                  <div class=" form-group">
                    <label> About Me </label>
                    <textarea
                      class=" form-control"
                      cols="80"
                      placeholder="Here can be your description"
                      rows="4"
                      value="Mike"
                    >
  Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
  </textarea
                    >
                  </div>
                </div>
              </div> -->
              <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  