
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h5 class=" title">Ajouter une Assurance</h5></div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Nom d'Assurance</label>
                    <input class=" form-control" placeholder="Nom d'Assurance" type="text"/>
                  </div>
                </div>
                <div class=" col-md-6">
                  <div class=" form-group">
                    <label> Tel </label>
                    <input class=" form-control" placeholder="06/05 11 22 33 44" type="text"/>
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Address </label>
                    <input class=" form-control" placeholder="Adresse" type="text"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill btn-danger" type="submit">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  