
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Victimes</h4>
            <p class=" category">Here is a subtitle for this table</p>
            <a  routerLink="/add-victime" class="btn btn-danger">Nouvelle victime</a>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Name</th>
                        <th>Job Position</th>
                        <th>Since</th>
                        <th class="text-right">Salary</th>
                        <th class="text-right">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let victime of victimes">
                        <td class="text-center">{{victime.id}}</td>
                        <td>{{victime.name}}</td>
                        <td>Design</td>
                        <td>2010</td>
                        <td class="text-right">&euro; 92,144</td>
                        <td class="td-actions text-right">
                          <a routerLink="/add-victime/{{ victime.id }}" class="btn btn-info btn-link btn-icon btn-sm">
                            <i class="tim-icons icon-single-02"></i>
                          </a>
                          <a routerLink="/add-victime/{{ victime.id }}" class="btn btn-success btn-link btn-icon btn-sm">
                            <i class="tim-icons icon-settings"></i>
                          </a>
                          <a (click)="deleteVictime(victime.id)" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
                            <i class="tim-icons icon-simple-remove"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

   