
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Declaration</h4>
            <p class=" category">Declaration accident de travaille</p>
            <a  routerLink="/add-declaration" class="btn btn-danger">Ajouter Declaration</a>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Nom de Victime </th>
                        <th>Date </th>
                        <th>adresse</th>
                        <th>Grave</th>
                        <th class="text-right">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">3</td>
                            <td>Mike Andrew</td>
                            <td>12-6-2021 14:30</td>
                            <td>2520 Huntz Lane Peabody MA</td>
                            <td>oui</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-check-2"></i>
                              </button>
                              <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-settings"></i>
                              </button>
                              <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-simple-remove"></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">3</td>
                            <td>Mike Andrew</td>
                            <td>12-6-2021 14:30</td>
                            <td>2520 Huntz Lane Peabody MA</td>
                            <td>oui</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-check-2"></i>
                              </button>
                              <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-settings"></i>
                              </button>
                              <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-simple-remove"></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">3</td>
                            <td>Mike Andrew</td>
                            <td>12-6-2021 14:30</td>
                            <td>2520 Huntz Lane Peabody MA</td>
                            <td>oui</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-check-2"></i>
                              </button>
                              <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-settings"></i>
                              </button>
                              <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-simple-remove"></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">3</td>
                            <td>Mike Andrew</td>
                            <td>12-6-2021 14:30</td>
                            <td>2520 Huntz Lane Peabody MA</td>
                            <td>oui</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-check-2"></i>
                              </button>
                              <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-settings"></i>
                              </button>
                              <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
                                <i class="tim-icons icon-simple-remove"></i>
                              </button>
                            </td>
                          </tr>
                      
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  