
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Assurance</h4>
            <p class=" category">Here is a subtitle for this table</p>
            <a  routerLink="/add-assurance" class="btn btn-danger">Ajouter Assurance</a>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Nom </th>
                        <th>adresse</th>
                        <th>Email</th>
                        <th>Tel</th>
                        <th class="text-right">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">3</td>
                        <td>assurance general</td>
                        <td>2520 Huntz Lane Peabody MA</td>
                        <td>assuranceGeneral@gmail.com</td>
                        <td class="text-right">978-531-6889</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm">
                            <i class="tim-icons icon-settings"></i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  