
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">certificat médical</h4>
            <p class=" category">Here is a subtitle for this table</p>
            <a  routerLink="/add-certificat-medical" class="btn btn-danger">Ajouter certificat médical</a>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Nom Victime</th>
                        <th>date depart</th>
                        <th>date d'expiration</th>
                        <th>Par Docteur</th>
                        <th class="text-right">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">3</td>
                        <td>Sharen R. Neal</td>
                        <td>12/07/2021</td>
                        <td>20/07/2021</td>
                        <td>Cynthia C. Irwin</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm">
                            <i class="tim-icons icon-settings"></i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
                            <i class="tim-icons icon-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  