
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h5 class=" title">Ajouter une Declaration</h5></div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-4 pr-md-1">
                  <div class=" form-group">
                    <label> Victime</label>
                      <select class="form-control selectpicker btn-primary" >
                          <option value="-1">sélectionner Victime</option>
                          <option value="victime 1">victime 1</option>
                          <option value="victime 2">victime 2</option>
                          <option value="victime 3">victime 3</option>
                          <option value="victime 4">victime 4</option>
                          <option value="victime 5">victime 5</option>
                          <option value="victime 6">victime 6</option>
                      </select>
                  </div>
                </div>
                <div class=" col-md-4 px-md-1">
                  <div class=" form-group">
                    <label> Date d'accident </label>
                    <input class=" form-control" type="date" />
                  </div>
                </div>
                <div class=" col-md-4 ">
                    <div class=" form-group">
                      <label> lieu d'accident </label>
                      <input class=" form-control" placeholder="Ex : a153d36gf5" type="text"/>
                    </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Address </label>
                    <input class=" form-control" placeholder="Adresse" type="text"/>
                  </div>
                </div>
              </div>
              <div class=" row">
                
                <div class=" col-md-8">
                  <div class=" form-group">
                    <label> Raison </label>
                    <textarea class=" form-control" cols="80" rows="4" value="Mike"></textarea>
                  </div>
                </div>
                <div class=" col-md-3 pr-md-1">
                  <div class=" form-group">
                    <label> Dégat </label>
                    <select class="form-control selectpicker btn-primary">
                        <option value="-1">sélectionner Dégat</option>
                        <option value="Grave">Grave</option>
                        <option value="Non Grave">Non Grave</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Type Dégat </label>
                  <textarea class=" form-control"></textarea>
                </div>
              </div>
            </div>
              
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit">Ajouter</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  