
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Médecin</h4>
            <p class=" category">Gestion Médecin</p>
            <a  routerLink="/add-medecin" class="btn btn-danger">Ajouter Médecin</a>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Nom et Prénom</th>
                        <th>Emai</th>
                        <th>adresse</th>
                        <th class="text-right">Tel</th>
                        <th class="text-right">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let medecin of medecins">
                          <td class="text-center">{{medecin.id}}</td>
                          <td>{{medecin.name}}</td>
                          <td>Alex@gmail.com</td>
                          <td>2520 Huntz Lane Peabody MA</td>
                          <td class="text-right">978-531-6889</td>
                          <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                              <i class="tim-icons icon-single-02"></i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm">
                              <i class="tim-icons icon-settings"></i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
                              <i class="tim-icons icon-simple-remove"></i>
                            </button>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  