
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h5 class=" title">Ajouter un médecin</h5></div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-6 pr-md-1">
                  <div class=" form-group">
                    <label> Nom </label>
                    <input class=" form-control" placeholder="Nom" type="text"/>
                  </div>
                </div>
                <div class=" col-md-6">
                  <div class=" form-group">
                    <label> Prénom </label>
                    <input class=" form-control" placeholder="Prénom" type="text"/>
                  </div>
                </div>
              </div>
              <div class=" row">
                <div class=" col-md-6 ">
                    <div class=" form-group">
                      <label> Tel  </label>
                      <input class=" form-control" placeholder="Ex : a153d36gf5" type="text"/>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class=" form-group">
                      <label> CIN </label>
                      <input class=" form-control" placeholder="Q123456" type="text"/>
                    </div>
                  </div>
              </div>
              <div class=" row">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <label> Addresse </label>
                    <input class=" form-control" placeholder="Adresse" type="text"/>
                  </div>
                </div>
              </div>
              
            </form>
          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill btn-danger" type="submit">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  