
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h5 class=" title">Ajouter une certificat médical</h5></div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-4 pr-md-1">
                  <div class=" form-group">
                    <label> Victime </label>
                    <select class="form-control selectpicker btn-primary">
                      <option value="-1">sélectionner victime</option>
                      <option value="Victime 1">Victime 1</option>
                      <option value="Victime 2">Victime 2</option>
                      <option value="Victime 3">Victime 3</option>
                      <option value="Victime 4">Victime 4</option>
                  </select>
                  </div>
                </div>
                <div class=" col-md-4 pr-md-1">
                    <div class=" form-group">
                      <label> Médecin </label>
                      <select class="form-control selectpicker btn-primary">
                        <option value="-1">sélectionner Médecin</option>
                        <option value="Medecin 1">Médecin 1</option>
                        <option value="Medecin 2">Médecin 2</option>
                        <option value="Medecin 3">Médecin 3</option>
                        <option value="Medecin 4">Médecin 4</option>
                      </select>
                    </div>
                </div>
                <div class=" col-md-4">
                  <div class=" form-group">
                    <label> Type </label>
                    <select class="form-control selectpicker btn-primary">
                        <option value="-1">sélectionner type de certificat</option>
                        <option value="Certificat médical primaire">Certificat médical primaire</option>
                        <option value="Certificat médical pour prolongation">Certificat médical pour prolongation</option>
                        <option value="Certificat de reprise de travail">Certificat de reprise de travail</option>
                        <option value="divorce">Certificat médical de rétablissement</option>
                        <option value="Certificat médical pour déterminer le pourcentage d'invalidité">Certificat médical pour déterminer le pourcentage d'invalidité</option>
                        <option value="certificat de décès">certificat de décès</option>
                        <option value="Certificat de rechute">Certificat de rechute</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class=" row">
                
                <div class=" col-md-4 pr-md-1">
                  <div class=" form-group">
                    <label> nombre de repos </label>
                    <input class=" form-control" type="number" min="0"/>
                  </div>
                </div>
                <div class=" col-md-4 px-md-1">
                    <div class=" form-group">
                      <label> Date départ de repos </label>
                      <input class=" form-control" type="date" />
                    </div>
                  </div>
                  <div class=" col-md-4 ">
                    <div class=" form-group">
                      <label> Date fin de repos </label>
                      <input class=" form-control" type="date" />
                    </div>
                  </div>
              </div>
              <div class=" row">
                <div class=" col-md-8">
                  <div class=" form-group">
                    <label> Description </label>
                    <textarea class=" form-control" cols="80" placeholder="Voici peut être votre description" rows="4"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill btn-danger" type="submit">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  